@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import './_colors';

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
}

.App::-webkit-scrollbar {
  z-index: 999;
  width: 8px;
  @media (max-width: 800px) {
    width: 5px;
  }
  @media (max-width: 560px) {
    width: 3px;
  }
  background-color: rgba(0, 0, 0, 0.37);
}
.App::-webkit-scrollbar-thumb {
  border-radius: 25px;
  border-right: 2px solid;
  background-color: rgba(255, 255, 255, 0.37);
} 

.App {
  width: 100%;
  height: 100vh;
  background: rgb(217,26,42);
  background: radial-gradient(circle, rgba(217,26,42,1) 0%, rgba(13,40,80,1) 99%);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 35px;
  
  @media (max-width: 800px){
    font-size: 32px;
  }
  @media (max-width: 600px) {
    font-size: 28px;
  }
}

a {
  text-decoration: none;
}


.scroll-dowm {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 120px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $dark;
  padding: 10px;
  color: #fff;
  font-size: 20px;
  border-radius: 20px;
  font-weight: bolder;
  cursor: pointer;
  .icon {
    font-size: 25px;
  }
}
