@import './_colors';
@import './_mixins';

.home {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 40px;

  .description{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 200px;
    min-height: 250px;
    padding: 50px 40px;
    background-color: $dark;
    color: white;
    border-radius: 20px;

    .btns {
      display: flex;
      align-items: center;
      justify-content: space-around;
      a {
        padding: 10px 20px;
        @media (min-width: 600px){
          padding: 15px 30px;
          font-size: 20px;
        }
        font-weight: 600;
        background-color: $dark-red;
        color: white;
        margin-top: 20px;
        font-size: 18px;
        cursor: pointer;
        border-radius: 12px;
        border: 2.5px solid $dark;
        color: white;
        transition: background-color .5s;
      }
      .contactar {
        &:hover {
          background-color: white;
          color: $dark;
          transition: background-color .5s;
        }
      }
      .descargarCV {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        border-color: #fff;
        &:hover {
          background-color: #fff;
          color: $dark;
          transition: background-color .5s;
        }
      }
    }

    .typical {
      max-width: 100%;
      font-size: 35px;
      font-family: 'Ubuntu mono';
      padding: 2px;
      word-wrap: break-word;
    }
    h1 {
      font-size: 40px;
      color: #fff;
      font-weight: 300;
    }
    h2 {
      font-size: 35px;
    }
    @keyframes palpitar {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.05);
      }
    }
  }
  .profile {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    .personal-img {
      background-image: url('../images/WhatsApp\ Image\ 2022-10-19\ at\ 9.08.29\ PM.jpeg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      margin: 0 auto;
    }
    .links {
      display: flex;
      gap: 25px;
      justify-content: center;
      align-items: center;
      
    }
  }
  .scroll-down {
    display: none;
  }
  @media (max-width: 900px){
    margin-top: 50px;
    margin-bottom: 50px;
    height: fit-content;
    padding-top: 50px;
    justify-content: center;
    .personal-img {
      width: 320px;
      height: 320px;
    }
  }
}

@media (max-width: 500px){
  .home {
    padding-block: 50px;
    .description {
      padding: 40px 20px;
      typical {
        max-width: 100%;
        font-size: 20px;
      }
      h1 {
        font-size: 30px;
        color: #fff;
      }
      h2 {
        font-size: 20px;
      }
    }
    .profile {
      .personal-img {
        width: 200px;
        height: 200px;
        
      }
    }
  }
}
