@import './_colors';

.section{
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: $dark;
  min-height: 600px;
  height: fit-content;
  padding: 40px 60px 60px 40px;
  gap: 60px;
  color: #fff;

  h2 {
    font-size: 35px;
    text-align: center;
  }
  .proyects__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media (max-width: 900px){
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 650px){
      grid-template-columns: 1fr;
    }
    gap: 40px;
    width: 100%;
    height: fit-content;
    .proyect__card {
      background-color: black;
      box-shadow: 0 7px 1px 0 #a6243c59;
      .preview_img {
        width: 100%;
        height: 250px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .information {
        position: relative;
        padding: 15px 20px;
        h3 {
          font-size: 25px;
          text-align: center;
          font-weight: bolder;
          margin-bottom: 15px;
        }
        p {
          font-size: 18px;
          @media (max-width: 600px){
            font-size: 14px;
          }
          margin-bottom: 30px;
        }
        .links {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          a {
            display: flex;
            padding: 5px;
            font-size: 18px;
            width: fit-content;
            border-radius: 10px;
            transition: background-color .5s;
            padding: 10px 15px;
            text-decoration: none;
            font-size: 18;
            font-weight: 400;
          }
          .github {
            background-color: $dark;
            color: $white;
            &:hover {
              background-color: $white;
              color: $dark;
              transition: background-color .5s;
            }
          }
          .visitar {
            background-color: $white;
            color: $dark;
            &:hover {
              background-color: $dark;
              background-color: $white;
            }
          }
        }
      }
    }
  }
}