@import './_colors';
.social-link {
  width: fit-content;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #fff;  
  cursor: pointer;
  text-decoration: none;
  padding: 8px;
  border: 2.5px solid $dark;
  border-radius: 15px;
  color: white;
  background-color: $dark;
  .social-icons {
    font-size: 45px;
  }
  
  transition: background-color .4s;
  &:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
    .github { color: $dark }
    .linkedin { color: #2962ff }
    .whatsapp { color: #26c963 }
    .email { color: #e63329 }
    .website { color: $dark }
    transition: background-color .3s;
  }
}
.text {
  margin: 30px auto;
  padding-inline: 25px;
  border: 1px solid #fff;
}
